<p>
  <strong>UserName:</strong>
  <%= @task.assigned_user %>
</p>
 
<p>
  <strong>Booking Point:</strong>
  <%= @task.booking_number%>
</p>

<p>
  <strong>Loading Point:</strong>
  <%= @task.loading_point%>
</p>

